<div class="center-align about-card">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">a bit about it...</span>
        <p>This app was built for practice by <span class="orange-text lighten-3">@qlimenoque</span></p>
      </div>
      <div class="card-action">
        <a href="https://github.com/qlimenoque/angular-training" class="white-text">GITHUB</a>
        <a href="https://linkedin.com/in/qlimenoque/" class="blue-text lighten-4">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
