<div class="container z-depth-3">
  <h5>Add user</h5>
  <div class="row">
    <form class="add-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" formControlName="firstName" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" formControlName="lastName" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="user_age" type="number" formControlName="age" class="validate">
          <label for="first_name">Age</label>
        </div>
        <div class="input-field col s6">
          <input id="user_gender" type="text" formControlName="gender" class="validate">
          <label for="last_name">Gender</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" formControlName="username" class="validate">
          <label for="username">Login</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" formControlName="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" [disabled]="loading" class="add-button btn-large waves-effect waves-light red left">
        Add
      </button>
    </form>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</div>
