<div>
  <h4>Users</h4>
  <div class="collection">
    <div *ngIf="loading" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
    
    <ul>
      <li class="collection-item avatar"
          *ngFor="let user of users">
        <i class="material-icons circle">account_box</i>
        <span class="title red-text darken-1">{{user.id}}. {{user.username}}</span>
        <p>
          <span class="blue-grey-text">Name:</span> {{user.firstName}} {{user.lastName}} <br/>
          <span class="blue-grey-text">Age: </span>{{user.age}} <br/>
          <span class="blue-grey-text">Gender</span>: {{user.gender}} <br/>
          <span *ngIf="user.token">Token: {{user.token}} </span> <br/>
        </p>
        
        <div class="secondary-content"><a>
          <i class="material-icons btn-small red edit-button" (click)="editUser(user.id)">edit</i>
          <i class="material-icons btn-small red waves-effect waves-light delete-button" (click)="deleteUser(user.id)">delete</i>
        </a>
        </div>
        <hr>
      </li>
    </ul>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red right" routerLink="/users/add"><i class="material-icons">add</i></a>

</div>
